In [5]:
import pandas as pd

In [6]:
 chemin = 'C:\\Users\\corvi\\Data\\LOREAL_B2B_emails.csv'
df = pd.read_csv(chemin)

In [7]:
df

,stylistId,emailId,emailName,sendDateTime,openDateTime,clickDateTime
0,h856c19a-d0eb-465d-8393-c03cfba899a9,e4845601-9a07-4616-af05-e2ccf569ca3d,Alone dream such without.,2018-10-06 00:49:24,NaN,NaN
1,h856c19a-d0eb-465d-8393-c03cfba899a9,eeadc119-0249-431b-895e-5139a32af952,Increase yes hotel star.,2018-08-20 22:27:00,NaN,NaN
2,h856c19a-d0eb-465d-8393-c03cfba899a9,e81e1674-9dbf-4a9f-956c-ae54e038b0b3,Those share little turn.,2017-01-14 21:29:40,NaN,NaN
3,h856c19a-d0eb-465d-8393-c03cfba899a9,eaceecc6-df78-4ad0-ba92-a6bf8eda524e,Six start own.,2023-02-15 21:19:08,NaN,NaN
4,h856c19a-d0eb-465d-8393-c03cfba899a9,e51b16ae-a12d-435d-8168-64ac4dfca5b2,Provide as.,2021-02-05 04:07:22,NaN,NaN
...,...,...,...,...,...,...
66568,he16f679-fda7-45bd-a865-b66a540f17d9,e39b9927-513c-415e-a0c4-c1d7e47da201,Yard family station.,2020-03-03 06:05:11,2020-03-04 03:24:53,NaN
66569,he16f679-fda7-45bd-a865-b66a540f17d9,e0c255e1-953e-4b71-aa7b-dfd1535619b8,Necessary piece.,2021-12-05 18:32:17,NaN,NaN
66570,he16f679-fda7-45bd-a865-b66a540f17d9,e7ff677d-9b55-4cd9-ab50-b15048db3115,Lead our thought happy.,2016-11-22 06:52:37,NaN,NaN
66571,he16f679-fda7-45bd-a865-b66a540f17d9,eb894121-10f6-4e80-b8cc-cdb3d9183781,Also common top.,2020-10-22 07:06:49,NaN,NaN
66572,he16f679-fda7-45bd-a865-b66a540f17d9,ea9c572d-ecd6-487f-96bd-03071121d0ae,Reality same.,2018-02-01 00:32:44,NaN,NaN