In [1]:
import pandas as pd

In [2]:
 chemin = 'C:\\Users\\corvi\\Data\\LOREAL_B2B_orders.csv'
df_3 = pd.read_csv(chemin)

In [3]:
df_3

,country,orderId,salonId,orderDateTime,totalAmount,totalQuantity
0,Poland,offe5ceb-3956-4ea2-87be-b53eabaecb01,a2f9683b-53fa-417b-9ea9-4f98dae19e9b,2019-04-18 05:20:16,8156,1421
1,Poland,o6b8f4e9-f3a3-4132-9634-f175fedecaf7,a2f9683b-53fa-417b-9ea9-4f98dae19e9b,2023-04-13 20:59:56,10945,1725
2,Poland,o85307db-8c02-4c03-b549-1cdb74974b2d,a2f9683b-53fa-417b-9ea9-4f98dae19e9b,2018-04-29 13:27:13,15520,1144
3,Poland,oe05a2aa-4453-454e-90e2-da9cb3bcbda8,a2f9683b-53fa-417b-9ea9-4f98dae19e9b,2018-01-25 11:20:46,11351,525
4,Poland,o43203c3-4f3b-4206-86e5-c873c5bd9620,a2f9683b-53fa-417b-9ea9-4f98dae19e9b,2021-11-20 21:42:55,13208,912
...,...,...,...,...,...,...
25112,Germany,oda577ba-5ea9-4b65-b15b-1ecaa59a3ae2,87995635-f2c1-4de0-a4b0-e154d36121e0,2020-01-29 01:51:03,3136,1847
25113,Germany,o3b8a9a0-9406-4a49-a472-8f21664de27e,87995635-f2c1-4de0-a4b0-e154d36121e0,2021-06-26 18:03:54,16235,1946
25114,Germany,o5e3e3b9-14d1-4aa2-97e4-f945806a44be,87995635-f2c1-4de0-a4b0-e154d36121e0,2022-09-02 02:05:00,14095,592
25115,Germany,o09af473-ef8c-4aab-b755-92990e155585,87995635-f2c1-4de0-a4b0-e154d36121e0,2021-01-13 11:06:30,7733,761
25116,Germany,o714b08f-f802-4dc9-89ff-5199d17144e4,87995635-f2c1-4de0-a4b0-e154d36121e0,2021-01-21 12:28:08,8912,1176