In [1]:
import pandas as pd

In [2]:
 chemin = 'C:\\Users\\corvi\\Data\\LOREAL_B2B_stylists.csv'
df_6 = pd.read_csv(chemin)

In [3]:
df_6

,country,stylistId,salonId,systemCreationDate,firstName,lastName,stylistRole,optinValue
0,Poland,h856c19a-d0eb-465d-8393-c03cfba899a9,a2f9683b-53fa-417b-9ea9-4f98dae19e9b,2021-04-12,NaN,NaN,Salon Owner,Yes
1,Poland,h41dedac-e1d8-44d6-8393-fff104697ba8,a2f9683b-53fa-417b-9ea9-4f98dae19e9b,2017-09-23,NaN,NaN,NaN,Yes
2,Poland,h410b301-8959-45f0-8244-dc5fbcbd4ce4,dd7c251b-87f5-46c6-b777-b439c24cc089,2022-03-10,Melissa,Moore,Salon Owner,No
3,Poland,he3567e5-fa68-4043-9c54-f7c1304e751e,dd7c251b-87f5-46c6-b777-b439c24cc089,2017-05-18,NaN,NaN,Hairdresser,Yes
4,Poland,h9574f20-744e-44da-be89-abd15f7e3fa7,dd7c251b-87f5-46c6-b777-b439c24cc089,2020-01-05,NaN,Patton,Apprentice,Yes
...,...,...,...,...,...,...,...,...
1902,United Kingdom,h490f5cc-27ea-438b-a252-1b5c1f4e64d0,40fa6fb6-ad21-4f3f-a92a-f9f012b3b7f1,2022-06-03,Jennifer,NaN,Hairdresser,No
1903,Netherlands,haa8e620-0967-4092-925d-c55e0d7b9d77,327a3bdd-70a5-4ade-bc7f-bbd7c1af867f,2019-11-18,Kevin,Cunningham,Apprentice,No
1904,Netherlands,h4dfca57-c32b-4bd7-a0b0-bd836b71925e,327a3bdd-70a5-4ade-bc7f-bbd7c1af867f,2020-06-17,Daniel,Garza,NaN,No
1905,Germany,h45389b7-2623-4a6c-8b6e-1ffea2c66b61,87995635-f2c1-4de0-a4b0-e154d36121e0,2020-11-27,Alejandro,Wilson,Salon Owner,No
1906,Germany,he16f679-fda7-45bd-a865-b66a540f17d9,87995635-f2c1-4de0-a4b0-e154d36121e0,2021-10-02,NaN,Flores,Hairdresser,Yes